body{
    width: 100%;
    height: 100vh;
    background-color: #343148FF;
  }
  
  h1 {
    font-size: 3rem;
    text-align: center;
  }
  
  .heading {
    display: flex;
    flex-direction: column;
    color: #F1F4FFFF;
    margin-top: 40px;
    text-align: center;
  }
  
  #description {
    margin: 0;
  }
  
  p {
    font-size: 1.4rem;
    color: white;
  }
  
  .form-container {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  #survey-form {
    display: flex;
    flex-direction: column;
    background-color: #B0B8B4FF;
    width: 60vw;
    max-width: 600px;
    margin-top: 4rem;
    padding: 40px;
    color: white;
    border-radius: 4px;
    
  }
  
  .personal-details {
    
    font-size: 1.4rem; 
    
  }
  
  .label1 {
    display: block;
    margin: 20px 0 0 0;
  }
  
  .input1::placeholder {
    padding: 10px;
  }
  
  .input1, select {
    width: 100%;
    margin: 10px 0 0 0;
    border-radius: 4px;
    min-height: 2.5rem;
    
  }
  
  label { 
    display: flex; 
    align-items: center; 
    margin-top: -10px;
  }
  
  .education, .experience {
    margin-top: 10px;
    font-size: 1.2rem;
  }
  
  select {
    margin-top: 20px;
  }
  input[type=radio] {
      height:35px;
      width: 20px
  }
  
  
  .radio-label {
    gap: 5px;
  }
  
  .input3 {
    width: 100%
    margin: 10px 0 0 0;
    min-height: 2.5rem;
    
  }
  
  .checkbox-label {
    gap: 5px;
  }
  
  input[type=checkbox] {
      height:35px;
      width: 20px
  }
  
  .language {
    font-size: 1.2rem;
  }
  
  .advice {
    margin-top: 10px;
  }
  
  textarea {
    width: 100%;
    border-radius: 4px;
    min-height: 6rem;
  } 
  
  textarea, placeholder {
    padding: 5px 10px;
  }
  
  .submit {
    font-size: 1.5rem;
  }
  
  input[type=submit] {
    display: block;
    width: 100%;
    background-color: #04AA6D;
    color: white;
    cursor: pointer;
    border: none;
    padding: 10px 10px;
    margin: 2em 0;
    border-radius: 2px;
    height: 2.5em;
    font-size: 1.2rem;
  }
  
  input[type=submit]:hover {
    color: white;
    background-color: orange;
  }